.MangaBlock {
    font-size: 0.75rem;
    width: 300px;
    margin: 1em;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-sizing: border-box;
    img {
        height: auto;
        width: auto;
        display: inline;
        margin-bottom: 0;
        border-left: 1px #eeeeee solid;
        box-shadow: 10px 10px 5px #888888;
    }

    h2 {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border:1px #eeeeee solid ;
        border-bottom: 0px;
        box-shadow: 5px 0px 5px #888888;
        display: inline-block;
        position: relative;
        text-align: left;
        font-family: helvetica;
        font-size: 1.5em;
        margin-top: 0.25em;
        margin-bottom: 0em;
    }
    h2:hover {
        color: $theme-color;

    }
}

.MangaBlock img:hover {
        border: 2px solid #555555;
    }